<%- include("partials/header") %>
        <div>   
        
            <h2 class="text-center mont-bold error-head" >404</h2>
            <h3 class="text-center cairo-semi-bold" >Page Not Found!!</h3>
            <br>
            <br>
            <h4 class="text-center cairo-semi-bold">Continue browsing on our <a href="/" class="error-link">Website</a> or Check out our Services:</h4>
            
            <h4 class="text-center cairo-semi-bold"> <a href="/design" class="error-link">Design</a> </h4>
            <h4 class="text-center cairo-semi-bold"> <a href="/development" class="error-link">Development</a> </h4>
            <h4 class="text-center cairo-semi-bold"> <a href="/digitalmarketing" class="error-link">Digital Marketing</a> </h4>
        </div>
        

         
          
         
 <%- include("partials/footer") %>