<%- include("partials/header") %>

<div class="container">
<div class="row mt-0 mb-0 blogrow">
    <div class="col-5 px-0">
        <div class="pt-4 ml-0 border-bottom-0 blogdiv">
           <span id="about">BLOGS</span>
        </div>
    </div>
    </div>
</div>
<div class="container cardcont">
    <div id="carddiv" class="mx-auto">
        <!-- <div class="row align-items-center">
            <div class="col-4"> -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" id="title">Outsource your business, GROW.</h5>
                      <p class="card-text">The global outsourcing market has been growing every day and includes businesses...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">20<sup>th</sup> January 2020</li>
                    </ul>
                    <div class="card-body">
                        <a href="/firstblog" class="btn">View</a>
                    </div>
                  </div>
            <!-- </div> -->
            <!-- <div class="col-4"> -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" id="title">A company’s blueprint to succeed in this modern digital world</h5>
                      <p class="card-text">Whether you are working individually or you are a small or a big company, in order for your business...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">23<sup>rd</sup> January 2020</li>
                    </ul>
                    <div class="card-body">
                        <a href="/secondblog" class="btn">View</a>
                    </div>
                  </div>
            <!-- </div> -->
            <!-- <div class="col-4"> -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" id="title">Invest in SEO, Excel</h5>
                      <p class="card-text">If you are starting a new business or you already are running a business and you...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">25<sup>th</sup> January 2020</li>
                    </ul>
                    <div class="card-body">
                        <a href="/thirdblog" class="btn">View</a>
                    </div>
                    </div>
            </div>
        </div>
    <!-- </div>
</div> -->




<%- include("partials/footer") %>