<%- include("partials/header") %>


<!-- <div class="container">

<div class="row taskrow border-bottom-0">
<div class="col-6">
<h2>What we do...</h2>
</div>
<div class="col-6">

</div>
</div> -->

<!-- <div class="row taskrow2 border-bottom-0 border-top-0 justify-content-center">
<div class="col-8">
<div class="row">
<div class="col-4 taskcol px-auto">
<p class="rounded mx-auto" id="task">Website <br> Development</p>
<p class="rounded mx-auto" id="task">Digital <br> Marketing</p>
<p class="rounded mx-auto" id="task">Software <br> Development</p>
</div>
<div class="col-4">
<p class="rounded mx-auto" id="tasksmall">Branding</p>
<p class="rounded mx-auto" id="task">App <br> Development</p>
<p class="rounded mx-auto" id="task">Social Media <br> Marketing</p>
</div>
<div class="col-4">
<p class="rounded mx-auto tasksmall" id="tasksmall">SEO</p>
<p class="rounded mx-auto" id="task">Inbound <br> Marketing</p>
<p class="rounded mx-auto" id="task">Digital Artworks <br> and Illustrations</p>
</div>
</div>
</div>
</div> -->
<!-- <div class="contactdiv"> -->
<div class="container">

</div>
<!-- </div> -->

<div class="mx-0 infodivcontact">
        <div class="container">
                <div class="row contactrow">
                        <div class="col-lg-6 contactcol align-items-center border-bottom-0 pt-5">
                            <h2>Get In Touch</h2>
                            <br>
                            <br>
                            <p id="contact"><i class="far fa-envelope"></i> info@cosaia.com</p>
                            
                            <p id="contact"><i class="fas fa-phone"></i> +91 9978336694</p>
                        </div>
                        <div class="col-lg-6 contactcol2 px-0 border-bottom-0">
                            <p id="contact2">Proudly an Indian Company</p>    
                            <iframe class="contactiframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1578907367447!5m2!1sen!2sin" width="400" height="250" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
            <div class="row">
            <div class="col-lg-4 infocolcontact">
                <div class="pl-lg-5 ml-lg-5 pt-lg-5 info">Write<br class="d-none d-lg-block"> to us</div>
            </div>
            <div class="col-lg-8 formcolcontact">
                    <form action="">
                        <!-- <fieldset> -->
                            <div class="row">
                            <div class="col-6 mt-lg-5 my-3 mb-lg-0 pt-3">
                        <input class="border-top-0 border-left-0 border-right-0" type="text" name="name" placeholder="Name">
                        <br>
                        <br>
                        <input class="border-top-0 border-left-0 border-right-0" type="text" name="email" placeholder="Email">
                        <br>
                        <br>
                        <input class="border-top-0 border-left-0 border-right-0" type="text" name="phone" placeholder="Phone">
                        <br>
                        <br>
                        <br>
                        <input id="submit" type="submit" value="Send">
                            </div>
                            <div class="col-6 mt-lg-5 my-3 mb-lg-0 pt-3">
                        <label for="message">Your Message</label>
                        <textarea  class="d-none d-lg-block" id="message" name="message"
                          rows="8" cols="33">
                        </textarea>
                        <textarea  class="d-lg-none" id="message" name="message"
                        rows="8" cols="44">
                      </textarea>
                            </div>
                        </div>
                    <!-- </fieldset> -->
                        
                    </form>
                        
                </div>
            </div>
        </div>

    </div>











<%- include("partials/footer") %>