<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">Design</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center mont-bold" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">We make it <span class="simple">simple,</span> but <span class="significant">Significant!!</span></h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <h4 class="mont-semi-bold mobile-head mt30" id="logo-heading" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                      Logo Design
                    </h4>
                    <p class="mont mobile-font mt20" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      Logo design is one of the most critical aspects of a company or a business’s image and we cannot stress on this enough. A nicely designed logo can really benefit a company in some tangible and intangible ways. It can pique the interest of new consumers and maintain the company’s identity in its current consumers’ minds for a long time. It can also help consumers differentiate among brands and also influence their decisions.   
                    </p>
                    <p class="mont mobile-font mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      A logo will generally always be the first thing a consumer sees regarding a company. It needs to create a very positive first impression in the minds of your consumers. We create custom logos for our clients using Illustrator, Photoshop and CorelDraw. We also have digital artists on our team to hand draw elements of the logo or logo itself and create original digital artworks. Our team’s strongest asset is to fully understand your vision and turn it into a reality.
                    </p>
                    <h4 class="mont-semi-bold mobile-head mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                      Stationery Design
                    </h4>
                    <p class="mont mobile-font mt20" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      Upon logo creation, our team can provide designs for all your office stationery needs such as business cards, envelopes and letterheads. Office stationery with your branding reinforces faith and trust a customer has in your company. Over the years, it has become an industry standard to also invest in stationery design to set your company apart from the rest.  
                    </p>
                    <h4 class="mont-semi-bold mobile-head mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                      Corporate Identity
                    </h4>
                    <p class="mont mobile-font mt20" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      While creating designs for a brand or a company from scratch, our team also creates the company’s identity from scratch. It consists of all visual branding elements, reaching beyond corporate logos to including typeface, tagline, imagery, colour palette, and tone of voice. A sense of consistency can be seen across all our designs for a specific client to create a lasting impression in their customers’ minds.
                    </p>
                    <h4 class="mont-semi-bold mobile-head mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                      Packaging
                    </h4>
                    <p class="mont mobile-font mt20" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      Packaging plays an extremely significant and vital role in a customer’s decision-making process. According to multiple surveys, more than 70% of decisions are taken by the customer keeping the packaging in mind and every year more than 95% of new products fail due to the lack of attention to packaging design. The packaging is very recognizable and an essential part of the corporate identity. An Apple product box can be noticed due to its minimalism. A McDonald’s happy meal box is also easily recognized due to its standout yellow M logo on the top and its unique shape.
                    </p>
                    <p class="mont mobile-font mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      We provide custom packaging design and prototyping services. We make unique packaging options for our clients surrounding their vision and their corporate identity. We provide prototyping services to test different kinds of materials, strength, durability, looks and endurance of our design. Following prototyping, we can also make a die for your manufacturer along with cut lines with the highest amount of precision to optimize costs printing and manufacturing costs.
                    </p>
                    <h4 class="mont-semi-bold mobile-head mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                      UI/UX and Prototyping
                    </h4>
                    <p class="mont mobile-font mt20" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                      We provide User Interface/Experience and prototyping options for our custom web development and app development projects. Through this step, we can show our clients the look and feel of their future product, the placement of the buttons, text boxes, images and the flow of the screens. Only after the approval of the prototypes, the development process begins. This is an extremely important step for both, us and the client because development is a very long process and it is critical for the client to see exactly how the final product will look before the development process begins. This helps avoid unnecessary future delays due to abrupt changes during the development process and hence help us to deliver within the deadline.
                    </p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mt30" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                <div class="col-12 text-center">
                    <img src="images/ps.png" height="100px" width="92px" style="margin-right: 10px; margin-bottom: 10px;" />
                    <img src="images/ae.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/pp.png" height="100px" width="92px"  style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/id.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/ai.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                </div>
            </div>
            
           </div>
       </div>

   </div>

    <div class="container mt-5 pb-5">
    <div class="row justify-content-center mt-5 pt-5">
      <div class="col-7">
        <p class="mont-semi-bold mobile-head mt30 text-center">Meet some of our clients!</p>
      </div>
    </div> 
  </div>


   <div class="quotes-container container mobHeight">
    
    <div class="quotes">
      <div class="row">
        <div class="col-md-4 col-sm-12">

          <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
            <div class="box box1 text-right">
              <p class="text-left fontBig"> 
                  Hailing from their experience, a group of young minds strived to bring Canadian Cuisine to the people of Ahmedabad under their brand - The Poutinerie
              </p>
              <img class="text-center" src="images/poutinerie.png" height="75px" width="102px">
              
            </div>
            <div class="bg"></div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">

          <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
            <div class="box box2 text-right">
                <p class="text-left fontBig">Based in Gujarat 'Meera Dyestuff' is leading B2B manufacturers and exporters of Dyes.</p><br><br><br><br>
              <img class="text-center" src="images/meera.png" height="50px" width="164px">
            </div>
            <div class="bg"></div>
          </div>

        </div>

        <div class="col-md-4 col-sm-12">
            <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
              <div class="box box3 text-right">
                <p class="text-left fontBig">'The Farmer's Son' is an upcoming cold presses juice brand. their juices are made with recipes backed by traditionalknowledge, focus on health and the best of hygienic practices. </p>
                <img class="text-center" src="images/tfs.png" height="75px" width="112px">
                
                
              </div>
              <div class="bg"></div>
            </div>
          </div>
        </div>  

        <div class="row">
          <div class="col-md-4 col-sm-12">
              <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" id="nh8card" style="margin-top: 20px;">
                  <div class="box box4 text-right" >
                    <p class="text-left fontBig">'NH8 in Bangalore is a theme restaurant that brings the iconic and flavorsome delicacies
                      from different states of India, connected by National Highway 8, all under one roof. </p>
                    <img id="nh8image" class="text-center nh8-1" src="images/nh8-1.png" height="75px" width="143px">
                    
                  </div>
                  <div class="bg"></div>
                </div>
          </div> 
          <div class="col-md-4 col-sm-12">     
                <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 20px;">
                  <div class="box box5 text-right">
                    <p class="text-left fontBig">Lamon is an upcoming stock broking
                      company in Gujarat whose vision is
                      to invest in a safer future and also
                      guarantee profits to their clients. </p>
                    <img class="text-center" src="images/lamon.png" height="75px" width="195px">
                  </div>
                  <div class="bg"></div>
                </div>
          </div>
          <div class="col-md-4 col-sm-12">      
                <div class="design-card" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" id="chcard" style="margin-top: 20px;">
                  <div class="box box6 text-right">
                    <p class="text-left fontBig">A family jeweler based in Udaipur
                      ventured out to reach consumers
                      across India and market her range
                      of antique jewelry and artifacts. </p>
                    <img id="chimage" class="text-center" src="images/ch1.png" height="75px" width="133px">
                  </div>
                  <div class="bg"></div>
                </div>
          </div>

        </div> 
      </div>
   
    </div>
   
      
        <div class="container mb-5 pb-5 mb-lg-0 pb-lg-0 mt-lg-5">
            <div class="row justify-content-center mb-5 pb-5 mb-lg-0">
              <div class="col-7">
                <p class="mont-semi-bold mobile-font mt20 text-center lessSize">View our design work <a href="/projects">here</a> </p>
              </div>
            </div> 
          </div>
    
   
        

    <%- include("partials/footer") %>    