<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">Design</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center">We make it <span class="simple">simple,</span> but <span class="significant">Significant!!</span></h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus integer feugiat scelerisque. Posuere morbi leo urna molestie at elementum eu facilisis. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. At quis risus sed vulputate. Posuere urna nec tincidunt praesent semper feugiat nibh. Odio aenean sed adipiscing diam. Turpis egestas integer eget aliquet nibh praesent tristique magna. At auctor urna nunc id cursus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Felis imperdiet proin fermentum leo vel orci porta. Sem nulla pharetra diam sit. Dolor sed viverra ipsum nunc. Etiam sit amet nisl purus in mollis nunc sed.
                    </p>
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;"">
                        Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Sit amet porttitor eget dolor. Vel quam elementum pulvinar etiam non quam. Vel pretium lectus quam id leo in. Elit sed vulputate mi sit amet. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Ut etiam sit amet nisl purus in mollis nunc. Ac felis donec et odio. Vel facilisis volutpat est velit egestas dui id. Varius morbi enim nunc faucibus a pellentesque. Tempus imperdiet nulla malesuada pellentesque elit eget. Id porta nibh venenatis cras sed felis eget velit. Et magnis dis parturient montes nascetur ridiculus mus. Sit amet risus nullam eget.

                    </p>

                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <img src="images/ps.png" height="100px" width="92px" style="margin-right: 10px; margin-bottom: 10px;" />
                    <img src="images/ae.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/pp.png" height="100px" width="92px"  style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/id.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                    <img src="images/ai.png" height="100px" width="92px" style="margin-right: 10px;margin-bottom: 10px;"/>
                </div>
            </div>
            
           </div>
       </div>

   </div>

   
   <div class="quotes-container container">
    
    <div class="quotes">
        <div class="card">
          <div class="box box1 text-right">
            <p class="text-left"> 
                Hailing from their experience, a group of young minds strived to bring Canadian Cuisine to the people of Ahmedabad under their brand - The Poutinerie
            </p>
            <img class="text-center" src="images/poutinerie.png" height="75px" width="102px">
            
          </div>
          <div class="bg"></div>
        </div>
        <div class="card">
          <div class="box box2 text-right">
              <p class="text-left">Based in Gujarat 'Meera Dyestuff' is leading B2B manufacturers and traders of Dyes.</p><br><br><br><br>
            <img class="text-center" src="images/meera.png" height="50px" width="164px">
          </div>
          <div class="bg"></div>
        </div>
        <div class="card">
          <div class="box box3 text-right">
            <p>'The Farmer's Son' is an upcoming cold presses juice brand. their juices are made with recipes backed by traditionalknowledge, focus on health and the best of hygienic practices. </p>
            <img class="text-center" src="images/tfs.png" height="75px" width="112px">
            
            
          </div>
          <div class="bg"></div>
        </div>
        <div class="card" id="nh8card">
            <div class="box box4 text-right" >
              <p class="text-left">'The Farmer's Son' is an upcoming cold presses juice brand. their juices are made with recipes backed by traditionalknowledge, focus on health and the best of hygienic practices. </p>
              <img id="nh8image" class="text-center nh8-1" src="images/nh8-1.png" height="75px" width="143px">
              
            </div>
            <div class="bg"></div>
          </div>
          <div class="card">
            <div class="box box5 text-right">
              <p class="text-left">'The Farmer's Son' is an upcoming cold presses juice brand. their juices are made with recipes backed by traditionalknowledge, focus on health and the best of hygienic practices. </p>
              <img class="text-center" src="images/lamon.png" height="75px" width="195px">
            </div>
            <div class="bg"></div>
          </div>
          <div class="card" id="chcard">
            <div class="box box6 text-right">
              <p>'The Farmer's Son' is an upcoming cold presses juice brand. their juices are made with recipes backed by traditionalknowledge, focus on health and the best of hygienic practices. </p>
              <img id="chimage" class="text-center" src="images/ch1.png" height="75px" width="133px">
            </div>
            <div class="bg"></div>
          </div>
      </div>
   
    </div>


   
   
      
    
   
        

    <%- include("partials/footer") %>    