<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">Development</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center">We do it with &lt;style&gt;!!</h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  <h4 class="cairo-bold mobile-head" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                    Website Development
                  </h4>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    There are more than 1.7 billion websites in the world today. In today’s economy, businesses of all scale and sizes have websites and a good amount of them fully or partly conduct their commercial activities through their website. Having a website opens your business up to the endless possibilities of the digital world. You cater your services 24/7 to customers all around the world. It is a great way to advertise, reach new target markets, multiply your sales and grow your business.  
                  </p>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    We have a wide range of skillsets in our website design and development team to cater to all kinds of clients. We provide custom websites built and designed from scratch or template websites built on pre-made themes. Our custom websites have endless potential. There is a lot more creative freedom while designing custom websites and through this we can also push the limits of our development team. These custom websites have several unique and hand made elements and designs. They are built using HTML, CSS and AngularJS. We can also provide a completely custom backend built from scratch using NodeJS to limit your dependency on us as an agency and just give you the freedom to add/delete content on your website. At the end of our custom website development process, one thing is for sure: our client will own a one of a kind unique and original, never before seen website which is guaranteed to make some heads turn.
                  </p>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Our template websites are made on WordPress and a training tutorial is provided after completion of the project to the client to teach simple to intermediate tasks on the WordPress dashboard. These template websites can be a bit quicker than the custom website to develop and also cost-effective since they are built using existing themes and elements. This limits our creative freedom and our urge to always make unique, original products but it gets the job done for some and also saves time and money. 
                  </p>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    We also provide Ecommerce and online stores built on Shopify and Magento. Shopify is a very user-friendly online platform to build websites but using their services comes with a lot of design and development restrictions. Thankfully, our team is highly skilled in their proprietary development language Liquid. This gives us the capabilities to override some of those limitations and add custom design elements and some features. We also provide payment gateway integrations on online stores with the facility to pay using all kinds of credit cards and debit cards and also PayPal.

                  </p>
                  <h4 class="cairo-bold mobile-head" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                    App Development
                  </h4>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    For most of the businesses apart from having a web site and a good active social media presence, it is also extremely important to have their own app and engage their customers on their own platform. This enables companies to build their own database, push their own products, cross-sell, limit reliabilities on third parties and maintain easy and cheap communication through push notifications with their customers. Our team has the capability to build apps on both platform Android and iOS natively. We follow agile development methodologies to make our process efficient and deliver a well-crafted product.
                  </p>  
                  <h5 class="cairo-bold service-sub-heading" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                    Android Apps:
                  </h5>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Google’s operating system Android since its initial release in 2008 has been the best selling smartphone OS worldwide since 2011 and has amassed over two billion active monthly users. It has over 2.9 million apps and growing in the hundreds and thousands on a regular basis. Android is on the cheapest of the phones out there and also on some of the most expensive phones unlike Apple. Apple ios is only on apple iphones which dominates the mid-range to premium range priced smartphones. With this advantage, if you develop apps on Android, you are more likely to reach out to a larger consumer base and demographic group and people with all kinds of buying and spending power.
                  </p>  
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Our Android design team creates the prototype and the UI/UX of each android app strictly following the design guidelines of material design. Our development team has expertise in Java, Kotlin and Android SDK. We use SQL for database and XML to access web data. We use Integrated Development Environment (IDE) such as Android Studio to work more efficiently. Our apps also come with a completely custom backend developed using NodeJS or Python. We provide android app development services for android smartphones and tablets of all sizes.
                  </p>
                  <h5 class="cairo-bold service-sub-heading" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                    iOS Apps:
                  </h5>  
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Apple’s operating system iOS for its iphones was launched in 2007, just 12 years ago. Since then it has become the second most popular operating system for smartphones. Apple has sold about 1.35 billion iOS devices as of March 2015. This is a huge opportunity for companies to be in this ecosystem and if already in then grow because of the sheer amount of iOS devices out there. The App Store contains more than 2.1 million iOS applications which have been downloaded more than 130 billion times. Apple boasts a super strong and always connected ecosystem of its products like the Mac, iPad, iPhone and the Apple watch. Apple is also looked up to by consumers and other companies in the aspect of data security and privacy. These are just some of the reasons why apple has such a dedicated and hardcore customer fanbase which is never diminishing and always increasing. Due to this, having an app on the app store can help you tap into this ecosystem and eventually grow your business.
                  </p>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Our iOS development team is highly skilled in Swift 3.0 and Xcode IDE. Through this, we have the capability of building apps on several apple products such as the iPhone, iPad, Apple TV and Apple watch. Our products strictly follow the design guidelines recommended by Apple which makes the entire deploy process a bit smoother. Our team is also always updated on all the new SDKs made available by Apple and the new features and hardware updates done by Apple on a regular basis. We design and develop apps for iOS, watchOS and the new ipadOS.
                  </p>
                  <h4 class="cairo-bold mobile-head" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                    Custom Web Apps
                  </h4>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    Our team also has the ability and experience of designing and developing completely custom web apps and other online solutions to fix unique problems of businesses of all sizes. Our team has an advance skillset in PhP, Python and NodeJS to create such products.
                  </p>
                  <p class="cairo-semi-bold mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    We have built custom ERPs and CRMs for a few of our clients. We even recently built a restaurant management system from scratch along with an android feedback app for use at multiple branches of a chain of restaurants. For a client in in the warehousing business, we built a web app on PhP to track purchase orders, sale orders, track inventory in each shelf in a warehouse and an inventory management system.
                  </p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
                <div class="col-12 text-center">
                  <span class="dev-icons"><i class="fab fa-angular"></i></span>
                  <span class="dev-icons"><i class="fab fa-node-js"></i></span>
                  <span class="dev-icons"><i class="fab fa-php"></i></span>
                  <span class="dev-icons"><i class="fab fa-wordpress"></i></span>
                  <span class="dev-icons"><i class="fab fa-app-store-ios"></i></span>
                  <span class="dev-icons"><i class="fab fa-android"></i></span>
                  <span class="dev-icons"><i class="fab fa-aws"></i></span>
                  <span class="dev-icons"><i class="fab fa-cpanel"></i></span>
                  <span class="dev-icons"><i class="fab fa-python"></i></span>
                </div>
            </div>
            
           </div>
       </div>

   </div>
  
   
   <div class="slider-container container" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat">
    
    <div class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            
            <img src="images/compartments4-logo.png" height="268px" width="289px" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">Architecture | Design</span>
            <div class="blog-slider__title">Compartment S4</div>
            <div class="blog-slider__text">Compartment S4 is a group of 8 young architechts that are involved in an array of different activities. For them we created  a website that brought together a minimalistic design approach and multiple hand drawn illustrations and icons, in an effort to create something as unique as them. </div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
   
    </div>


   
   
      
    
   
        

    <%- include("partials/footer") %>    