<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">Development</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center">We do it with &lt;style&gt;!!</h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus integer feugiat scelerisque. Posuere morbi leo urna molestie at elementum eu facilisis. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. At quis risus sed vulputate. Posuere urna nec tincidunt praesent semper feugiat nibh. Odio aenean sed adipiscing diam. Turpis egestas integer eget aliquet nibh praesent tristique magna. At auctor urna nunc id cursus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Felis imperdiet proin fermentum leo vel orci porta. Sem nulla pharetra diam sit. Dolor sed viverra ipsum nunc. Etiam sit amet nisl purus in mollis nunc sed.
                    </p>
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;"">
                        Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Sit amet porttitor eget dolor. Vel quam elementum pulvinar etiam non quam. Vel pretium lectus quam id leo in. Elit sed vulputate mi sit amet. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Ut etiam sit amet nisl purus in mollis nunc. Ac felis donec et odio. Vel facilisis volutpat est velit egestas dui id. Varius morbi enim nunc faucibus a pellentesque. Tempus imperdiet nulla malesuada pellentesque elit eget. Id porta nibh venenatis cras sed felis eget velit. Et magnis dis parturient montes nascetur ridiculus mus. Sit amet risus nullam eget.

                    </p>

                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <img src="images/angular.png" height="75px" width="75px" style="margin-right: 10px;" />
                    <img src="images/mongo.png" height="75px" width="75px" style="margin-right: 10px;"/>
                    <img src="images/nodejs.png" height="75px" width="150px"  style="margin-right: 10px;"/>
                    <img src="images/express.png" height="75px" width="250px" style="margin-right: 10px;"/>
                </div>
            </div>
            
           </div>
       </div>

   </div>
  
   
   <div class="slider-container container">
    
    <div class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            
            <img src="images/compartments4-logo.png" height="268px" width="289px" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">Architecture | Design</span>
            <div class="blog-slider__title">Compartment S4</div>
            <div class="blog-slider__text">Compartment S4 is a group of 8 young architechts that are involved in an array of different activities. For them we created  a website that brought together a minimalistic design approach and multiple hand drawn illustrations and icons, in an effort to create something as unique as them. </div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
          </div>
        </div>
        
      </div>
      <div class="blog-slider__pagination"></div>
    </div>
   
    </div>


   
   
      
    
   
        

    <%- include("partials/footer") %>    