<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">Digital Marketing</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center">We got you here, means we good at it!!</h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus integer feugiat scelerisque. Posuere morbi leo urna molestie at elementum eu facilisis. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. At quis risus sed vulputate. Posuere urna nec tincidunt praesent semper feugiat nibh. Odio aenean sed adipiscing diam. Turpis egestas integer eget aliquet nibh praesent tristique magna. At auctor urna nunc id cursus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Felis imperdiet proin fermentum leo vel orci porta. Sem nulla pharetra diam sit. Dolor sed viverra ipsum nunc. Etiam sit amet nisl purus in mollis nunc sed.
                    </p>
                    <p class="cairo-semi-bold" style="margin-top: 15px; font-size: large;">
                        Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Sit amet porttitor eget dolor. Vel quam elementum pulvinar etiam non quam. Vel pretium lectus quam id leo in. Elit sed vulputate mi sit amet. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Ut etiam sit amet nisl purus in mollis nunc. Ac felis donec et odio. Vel facilisis volutpat est velit egestas dui id. Varius morbi enim nunc faucibus a pellentesque. Tempus imperdiet nulla malesuada pellentesque elit eget. Id porta nibh venenatis cras sed felis eget velit. Et magnis dis parturient montes nascetur ridiculus mus. Sit amet risus nullam eget.

                    </p>

                </div>
                <div class="col"></div>
            </div>
           
            
           </div>
       </div>

   </div>


  
        
        <div class="content">
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#Email-marketing-modal">
              
                 <div class="icon"><i class="fas fa-mail-bulk"></i></div>
                 <p class="title">Email Marketing</p>
                 <p class="text">Click to see or edit your profile page.</p>
              
           </div>
           <!-- end card -->
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#seo-modal">
              
                 <div class="icon"><i class="fab fa-searchengin"></i></div>
                 <p class="title">Search Engine Optimization</p>
                 <p class="text">Check all your favourites in one place.</p>
              
           </div>
           <!-- end card -->
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#sm-modal">
              
                 <div class="icon"><i class="fas fa-users"></i></div>
                 <p class="title">Social Media Marketing</p>
                 <p class="text">Add or change your contacts and links.</p>
              
           </div>
           <!-- end card -->
        
     
        
        </div>
    
        <!-- Email Marketing Modal -->
        <div class="modal fade" id="Email-marketing-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fas fa-mail-bulk"></i></div>
              <h4 class="cairo-semi-bold text-left mt20 title-modal">Email Marketing</h4>
              <div class="modal-body">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>


        <!-- Search Engine Optimization Modal -->
        <div class="modal fade" id="seo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fab fa-searchengin"></i></div>
              <h4 class="cairo-semi-bold text-left mt20 title-modal">Search Engine Optimization</h4>
              <div class="modal-body">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>

        <!-- Social Media Marketing Modal -->
        <div class="modal fade" id="sm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fas fa-users"></i></div>
              <h4 class="cairo-semi-bold text-left mt20 title-modal">Social Media Marketing</h4>
              <div class="modal-body">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
   
  


   
   
      
    
   
        

    <%- include("partials/footer") %>    