<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">Digital Marketing</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               <h3 class="text-center">We got you here, means we good at it!!</h3>

            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  
                  <p class="mont mobile-font text-center" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                    This is an extremely important part of any business to generate sales and grow your business. There is no alternative to digital marketing in this modern era. Our Digital Marketing team provides a bunch of services mentioned below.
                  </p>

                </div>
                <div class="col"></div>
            </div>
           
            
           </div>
       </div>

   </div>


  
        
        <div class="content">
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#Email-marketing-modal">
              
                 <div class="icon"><i class="fas fa-mail-bulk"></i></div>
                 <p class="title">Email Marketing</p>
                 <p class="text"></p>
              
           </div>
           <!-- end card -->
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#seo-modal">
              
                 <div class="icon"><i class="fab fa-searchengin"></i></div>
                 <p class="title">Search Engine Optimization</p>
                 <p class="text"></p>
              
           </div>
           <!-- end card -->
           <!-- card -->
           <div class="digital-card" data-toggle="modal" data-target="#sm-modal">
              
                 <div class="icon"><i class="fas fa-users"></i></div>
                 <p class="title">Social Media Marketing</p>
                 <p class="text"></p>
              
           </div>
           <!-- end card -->
        
     
        
        </div>
    
        <!-- Email Marketing Modal -->
        <div class="modal fade" id="Email-marketing-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fas fa-mail-bulk"></i></div>
              <h4 class="mont-semi-bold text-left mt20 title-modal">Email Marketing</h4>
              <div class="modal-body">
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  Sending promotional and communication emails to your customers is a vital aspect of running a successful business for any company. It helps you to keep your customers always updated and in the loop for future news regarding your business.
                </p>
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  There are over 5.59 billion active email accounts in the world with 3.9 billion unique email users. There are over 293 billion emails being exchanged throughout the world on a daily basis. These numbers are huge and almost every email client provides most of their services for free. For a majority of these users, it is the primary source for communication for commercial and professional activities.
                </p>
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  We provide services such as email marketing campaign creation, content curation, audience and demographic research, A/B testing, newsletter creation, lead magnet placement on the online web page, and design and development of HTML email services. We also have HubSpot, Klaviyo and MailChimp experts on our team to help you manage and get the most of your accounts with those third-party vendors. For HubSpot and Klaviyo, we have dedicated experts to create and implement workflows to get you the most out of your emails and increase your sales or generate more leads.
                </p>
                <span class="dev-icons"><i class="fab fa-mailchimp"></i></span>
                <span class="dev-icons"><i class="fab fa-hubspot"></i></span>
              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>


        <!-- Search Engine Optimization Modal -->
        <div class="modal fade" id="seo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fab fa-searchengin"></i></div>
              <h4 class="mont-semi-bold text-left mt20 title-modal">Search Engine Optimization</h4>
              <div class="modal-body">
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  Our SEO team has over 6 years of experience in providing this service. Under SEO we provide SEO Audit, Keyword research and analysis, On-Page Optimization, Off-page optimization and content writing services.  
                </p>
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  On-Page activities include optimizing current content as per target keywords and curate new content according to the search intent of your audience. Increasing page load speeds and making the website mobile responsive is extremely important along with the strategic placement of target keywords in the title, meta description, H1 tags and the image alt tags. Robot.txt optimization, HTML sitemap creation, XML sitemap submission, W3C validation and Google Analytics setup and review are also essential parts of our on-page SEO process. We also focus on the use of schema markup to provide more info with your SERP listing and increase the clickability of your site.  
                </p>
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  Off-page activities are basically all the activities that have to be done outside of the website to help in SEO to rank higher in Google and other search engines. Building high-quality backlinks that lead to your website is a very important factor. Blogs with unique and fresh content is a good example of link building. We also provide social media marketing services which are a key element of off-page SEO. Constant activity, content on multiple social media platforms and collaborating with influencers is a must. Addition of an RSS Feed, blog commenting, guest posting, social bookmarking, press release submission, directory submission, classified ad creation and forum posting are some of the significant components of our off-page SEO services.
                </p>
                <span class="dev-icons"><i class="fab fa-google"></i></span>

              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>

        <!-- Social Media Marketing Modal -->
        <div class="modal fade" id="sm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog text-center" role="document">
            <div class="modal-content text-left">
              <div class="icon-modal mt20"><i class="fas fa-users"></i></div>
              <h4 class="mont-semi-bold text-left mt20 title-modal">Social Media Marketing</h4>
              <div class="modal-body">
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  Since the inception of social media companies about a decade ago, it has completely revolutionized the digital world. Businesses and companies now do business differently than they did over a decade ago. It is very difficult to now survive for any business without an active presence on any social media platform.  
                </p>
                <p class="mont mobile-font" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal reapeat" style="margin-top: 15px; font-size: large;">
                  We provide social media marketing services for Instagram, Twitter, Facebook and LinkedIn. We provide strategic plans, monthly schedule for posts, content curation, caption creation, graphically designed social media posts and videos, video and photo editing services. We also provide PPC(Pay per Click) services for Instagram, Facebook and Google Adwords. Under PPC services, we do keyword research, analyze your audience, do A/B testing, curate special content and optimize the costs of the campaign to maximize your profits.
                </p>
                <span class="dev-icons"><i class="fab fa-facebook-f"></i></span>
                <span class="dev-icons"><i class="fab fa-linkedin-in"></i></span>
                <span class="dev-icons"><i class="fab fa-instagram"></i></span>
                <span class="dev-icons"><i class="fab fa-twitter"></i></span>
              </div>
              <div class=" text-left">
                <button type="button" class="btn  modal-button " data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
   
  


   
   
      
    
   
        

    <%- include("partials/footer") %>    