
<%- include("partials/header") %>


            <div class="container">
                <div class="row mt-5">
                    <div class="col-5 px-0 mx-0">
                        <h1 class="my-0 pt-5 border-right-0">Design</h1>
                        <h1 id="middle" class="my-0 pt-5 border-top-0 border-right-0">Development</h1>
                        <h1 class="my-0 pt-5 border-top-0 border-right-0">Digital Marketing</h1>
                    </div>
                    <div id="display" class="col-7 border-bottom-0 px-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators my-4">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><i class="far fa-dot-circle"></i></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">   
                                <img class="d-block w-100" src="meera.jpg" alt="">
                                <div class="carousel-caption d-none d-md-block mb-4">
                                <div id="subtitle">
                                        <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">Patel & Jesalpura</span> <br><br>
                                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                            </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="nh8.jpg" alt="">      
                                <div class="carousel-caption d-none d-md-block mb-4">
                                        <div id="subtitle">
                                                <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">TFS</span> <br><br>
                                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                        </div>
                                    </div>  
                            </div>
                              <div class="carousel-item">
                             <img class="d-block w-100" src="moments.jpg" alt="">
                             <div class="carousel-caption d-none d-md-block mb-4">
                                    <div id="subtitle">
                                            <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">Meera Dyestuff</span> <br><br>
                                                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </div>  
                            </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>



                    <!-- <div class="row mt-0"> -->
                        <div class="mt-0 px-0 redblock">
                            <!-- <span class="border" style="width: 85px; height: 80px;"></span> -->
                        <div class="container">
                            <div class="row">
                            <div class="col-5 px-0 border-right-0 border-top-0 projdiv">
                            <a id="viewproj" href="/projects">View All Projects <i class="far fa-eye"></i></a>
                        </div>
                        </div>
                    </div>
                        <!-- <div id="subtitle" class="col-6 px-0 mb-5">
                            <p id="desc" class="border-top-0 border-bottom-0 px-5 mb-0 pb-0" style="height: 120px;"> <span id="title">Patel & Jesalpura</span> <br><br>
                                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="border-top-0 mt-0" style="height: 40px; border: 1px solid rgba(171, 172, 172, 0.5); width: 665px; background-color: white; color: rgb(171, 172, 172); text-align:center; font-size: 0.7rem;">
                                        <i style="color: #ee5e54;" class="far fa-dot-circle"></i>    <i class="pl-2 far fa-circle"></i>    <i class="pl-2 far fa-circle"></i>    <i class="pl-2 far fa-circle"></i>
                                </div>
                            </div> -->
    
                    </div>
               
    
               
                    <div class="container">
                        <div class="row aboutrow">
                            <div class="col-5 pt-4 border-bottom-0 pl-0 ml-0 aboutcol">
                                <div class="pl-0" id="about">ABOUT</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="container">
                            <div class="row mt-0">
                                <div class="col-12 logocol">
                                  <img src="logo2.png" alt="">
                                </div>
                            </div>
                        </div>
                
                    <div class="container">
                            <div class="row mt-0">
                                <div class="col-12 border-top-0 pl-5 textcol">
                                        <p class="mt-4 px-5"> <span id="title">Who are we?</span> <br><br>
                                            We are a team of unique, educated, creative and confident homo sapiens trying to make your lives better using this thing called technology.</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                                <div class="row mt-0">
                                    <div class="col-6 border-top-0 pl-5 brandcol">
                                    <p class="ml-5 mr-5 mt-5">We're a growth branding agency of two halves: where creativity is Born; and as a result, brands are Bred.</p>
                                    </div>
                                    <div class="col-6 border-top-0 border-left-0 pl-5 emojicol">
                                            <p class="ml-5 mr-5 mt-5">It starts with emotion.<br> And ends with 👀 eye-grabbing design, 💗 heartfelt stories, and mindful 😵 experiences.   </p>
                                    </div>
                                </div>
                            </div>


                            <div class="container">
                                    <div class="row mt-0 mb-0 blogrow">
                                        <div class="col-5 px-0">
                                            <div class="pt-4 border-top-0 border-right-0 ml-0 blogdiv">
                                               <span id="blog">BLOGS</span>
                                            </div>
                                            <div class="article">
                                                    <img class="border-right-0 border-bottom-0" src="https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                                                 <p class="mt-0 px-2 py-2 border-right-0">
                                                    <span id="title">Invest in SEO, Excel</span><br>If you are starting a new business or you already are running a business and you are looking for ways to get your business 
                                                            to new heights of success then you have to invest in SEO.</p>
                                                    <div class="overlay2">
                                                        <a href="/thirdblog" class="py-2 px-3">
                                                        View Article <i class="far fa-eye eye2"></i></a>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-1 px-0">
                                            <p class="border-top-0 px-2 mb-0 datep"> 
                                                <strong>25</strong> <br><span>JANUARY</span></p>
                                        <p class="border-top-0 px-2 mt-0 mb-0 empty"></p>
                                        </div>
                                        <div class="col-1 px-0">
                                                <p class="border-top-0 border-left-0 px-2 mb-0 datep2"> 
                                                    <strong>20</strong> <br><span>JANUARY</span></p>
                                                    <p class="border-top-0 border-left-0 px-2 mt-0 mb-0 empty2"></p>
                                                </div>
                                        <div class="col-5 px-0 pt-5 article2col">
                                            <div class="article2">           
                                            <img class="border-bottom-0 border-left-0" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                                                     <p class="mt-0 px-2 py-2 border-left-0">
                                                        <span id="title">Outsource your business, GROW.</span> <br>The global outsourcing market has been growing every day and includes 
                                                        businesses of different sizes, such as marketing, IT, accounts, HR, etc.</p>
                                                        <div class="overlay3">
                                                                <a href="/firstblog" class="py-2 px-3">
                                                                View Article <i class="far fa-eye eye2"></i></a>
                                                            </div>
                                                        </div> 
                                            </div>
                                    </div>
                                </div>
                    


                        <div class="container">
                        <div class="row morerow">
                            <div class="col-5">
                                
                            </div>
                            <div class="col-2 mt-0 border-top-0 colmore">
                                <div class="mx-4 mt-4 loadmore">
                                    <a href="/blogs">Load More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
            
                
            <div class="mx-0 infodiv">
                <div class="container">
                    <div class="row">
                    <div class="col-4 border-right-0 infocol">
                        <div class="pl-5 ml-5 pt-5 info">Let's<br>Talk</div>
                    </div>
                    <div class="col-8 formcol">
                            <form action="">
                                <!-- <fieldset> -->
                                    <div class="row">
                                    <div class="col-6 mt-5 pt-3">
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="name" placeholder="Name">
                                <br>
                                <br>
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="email" placeholder="Email">
                                <br>
                                <br>
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="phone" placeholder="Phone">
                                <br>
                                <br>
                                <br>
                                <input id="submit" type="submit" value="Send">
                                    </div>
                                    <div class="col-6 mt-5 pt-3">
                                <label for="message">Your Message</label>
                                <textarea  id="message" name="message"
                                  rows="8" cols="33">
                                </textarea>
                                    </div>
                                </div>
                            <!-- </fieldset> -->
                                
                            </form>
                                
                        </div>
                    </div>
                </div>

            </div>

<%- include("partials/footer") %>