
<%- include("partials/header") %>


            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-5 order-2 order-lg-1 px-0 mx-0 homecol1">
                        <h1 class="my-0 pt-lg-5 titles" id="title1">Design</h1>
                        <h1 class="my-0 pt-lg-5 titles" id="title2">Development</h1>
                        <h1 class="my-0 pt-lg-5 border-top-0 titles" id="title3">Digital Marketing</h1>
                    </div>
                    <div id="display" class="col-lg-7 order-1 order-lg-2 border-bottom-0 px-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators my-4">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><i class="far fa-dot-circle"></i></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">   
                                <img class="d-block w-100" src="meera.jpg" alt="">
                                <div class="carousel-caption mb-4">
                                <div id="subtitle">
                                        <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">Meera Dyestuff</span> <br><br>
                                            Logo and website redesigned along with a brand new corporate identity for an internationally reputed and global dye manufacturer.</p>
                                </div>
                            </div>
                            </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="nh8.jpg" alt="">      
                                <div class="carousel-caption mb-4">
                                        <div id="subtitle">
                                                <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">NH8</span> <br><br>
                                                    A new interactive, hand drawn and animated website + custom online restaurant management system for a big restaurant chain in Southern India.</p>
                                        </div>
                                    </div>  
                            </div>
                              <div class="carousel-item">
                             <img class="d-block w-100" src="moments.jpg" alt="">
                             <div class="carousel-caption mb-4">
                                    <div id="subtitle">
                                            <p id="desc" class="px-5 mb-0 pb-0"> <span id="title">Moments</span> <br><br>
                                                A modern sleek website + minimalistic rebranding for a veteran in the wedding videography industry with experience of over 70 years.</p>
                                    </div>
                                </div>  
                            </div>
                            </div>
                            <a class="carousel-control-prev d-lg-none" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next d-lg-none" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                    </div>
                </div>
                </div>
            </div>



                    <!-- <div class="row mt-0"> -->
                        <div class="mt-0 px-0 redblock">
                            <!-- <span class="border" style="width: 85px; height: 80px;"></span> -->
                        <div class="container">
                            <div class="row">
                            <div class="col-lg-5 px-0 projdiv">
                            <a id="viewproj" href="/projects">View All Projects <i class="far fa-eye"></i></a>
                        </div>
                        </div>
                    </div>
                        <!-- <div id="subtitle" class="col-6 px-0 mb-5">
                            <p id="desc" class="border-top-0 border-bottom-0 px-5 mb-0 pb-0" style="height: 120px;"> <span id="title">Patel & Jesalpura</span> <br><br>
                                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="border-top-0 mt-0" style="height: 40px; border: 1px solid rgba(171, 172, 172, 0.5); width: 665px; background-color: white; color: rgb(171, 172, 172); text-align:center; font-size: 0.7rem;">
                                        <i style="color: #ee5e54;" class="far fa-dot-circle"></i>    <i class="pl-2 far fa-circle"></i>    <i class="pl-2 far fa-circle"></i>    <i class="pl-2 far fa-circle"></i>
                                </div>
                            </div> -->
    
                    </div>
               
    
               
                    <div class="container">
                        <div class="row aboutrow">
                            <div class="col-12 col-lg-5 border-bottom-0 pl-0 ml-0 aboutcol">
                                <div class="pl-0" id="about">ABOUT</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="container">
                            <div class="row mt-0">
                                <!-- <div id="particles-js" class="col-12 logocol"> -->
                                  <div class="col-12 logocol">
                                      <img src="/widebanner.png" alt="">
                                  </div>
                                </div>
                            </div>
                        </div>
                
                    <div class="container">
                            <div class="row mt-0">
                                <div class="col-12 border-top-0 pl-5 textcol py-5">
                                        <p class="px-5"> <span id="title">Our Mission</span> <br><br>
                                            We are a group of creative, driven and like-minded homo sapiens, that are on a mission to build and provide means of 
                                            effective and meaningful communication through a unique blend of technology, design philosophies and out of the box ideas.</p>
                                </div>
                            </div>
                            <div class="row mt-0">
                                    <div class="col-12 border-top-0 pl-5 textcol py-5">
                                            <p class="px-5"> <span id="title">Why choose us?</span> <br><br>
                                                At Cosaia we can meet all your digital needs by providing high quality and reliable solutions through our creative and talented team. <br><br>
                                                Our services include: <br></p>
                                                <ul class="px-5">
                                                    <li> <a href="/design">Design</a> - Logo, Stationery, Corporate Identity, UI/UX prototyping, Web Design</li>
                                                    <li> <a href="/website-development">Development</a> - Website, Mobile Apps (IOS/Android), Custom web apps </li>
                                                    <li> <a href="/digital-marketing-company">Digital Marketing</a> - Email Marketing, SEO (Search Engine Optimization), Social Media Marketing </li>
                                                </ul>
                                               <p class="px-5">Before we dive into exploring solutions for our clients, we make sure to understand their necessities and expectations. For us, it is fundamental to draw solutions that are compatible with a  company’s identity, their policies and that portray what they stand for. <br>
                                                In a business relationship, as in any, TRUST is what strengthens the bond between two parties. At Cosaia we want our clients to feel safe by knowing they are partnering with a credible and reliable group of exceptional individuals. Our agreements are done through
                                                complete transparency and bounded by contracts with a comprehensive list of services that will be provided as well as a final delivery date.  We want our clients to be fully satisfied with our services and to ensure we are always on the right track we will be in 
                                                constant communication from the first briefing until the delivery of the final product.</p>
                                    </div>
                                </div>
                                <div class="row mt-0 border-top-0 border-bottom-0 textcol pt-5">
                                        <div class="col-12">
                                                <p class="px-5 text-center"> <span id="title">Our Process</span></p>
                                        </div>
                                </div>
                                <div class="row border-top-0 border-bottom-0 pl-5 textcol pt-5 justify-content-center">
                                    <div class="col-12 col-lg-3 mt-5 mt-lg-0">
                                            <img class="icons mx-auto d-block" src="/brainstorm.png" alt="">
                                    </div>
                                    <div class="col-12 col-lg-6 mt-4 mb-5 my-lg-0">
                                             <h1 class="px-5" id="title">Step 1. Brainstorm / Research</h1><p class="px-5"> As our client, first we try to understand your business, your requirements, your end goal and your USPs (unique selling point).
                                                After gathering this information we conduct brainstorming sessions with our team, which consists of graphic designers, business 
                                                analysts, web developers, content writers, mobile application developers and SEO (Search Engine Optimization) executives. 
                                                After that research is done on the competitors, products and demographics.</p>
                                    </div>
                                </div>
                                <div class="row border-top-0 border-bottom-0 pl-5 textcol pt-5 justify-content-center">
                                        <div class="col-12 col-lg-6 order-2 order-lg-1 mt-4 mb-5 my-lg-0">
                                                 <h1 class="px-5" id="title">Step 2. Web Design</h1><p class="px-5"> Our designing process then starts with Corporate Identity 
                                                    which covers Logo Design, Stationery and brand tone. We try to give a unique personality to the brand. Once the Identity is approved, 
                                                    our UI/UX Designers start working on Web Design or Mobile Application Screens which gives you a clear picture regarding the features 
                                                    and the feel of your product.</p>
                                        </div>
                                        <div class="col-12 col-lg-3 order-1 order-lg-2 mt-5 mt-lg-0">
                                                <img class="icons mx-auto d-block" src="/brush.png" alt="">
                                        </div>
                                </div>
                                <div class="row border-top-0 border-bottom-0 pl-5 textcol pt-5 justify-content-center">
                                        <div class="col-12 col-lg-3 mt-5 mt-lg-0">
                                                <img class="icons mx-auto d-block" src="/computer.png" alt="">
                                        </div>
                                        <div class="col-12 col-lg-6 mt-4 mb-5 my-lg-0">
                                                 <h1 class="px-5" id="title">Step 3. Web Development</h1><p class="px-5"> After approval, this is passed on to our Development team who is capable of doing Development in NodeJS, 
                                                    Angular, Php, Laravel, Android, iOS, WordPress, Shopify, etc. Yes, our team can develop anything you want right from single page 
                                                    websites to custom softwares, ecommerce stores and Mobile Applications. Everything will be pushed to production only after getting 
                                                    clearance from the Quality Assurance/Testing Team.</p>
                                        </div>
                                </div>
                                <div class="row border-top-0 border-bottom-0 pl-5 textcol pt-5 justify-content-center">
                                        <div class="col-12 col-lg-6 order-2 order-lg-1 mt-4 mb-5 my-lg-0">
                                                 <h1 class="px-5" id="title">Step 4. Digital Marketing</h1><p class="px-5"> Now, once you are out there, you’ll need help from our Digital Marketing Team to 
                                                    reach out to your audience and increase sales. Digital Marketing can be divided into multiple categories such as Email Marketing, 
                                                    Social Media Marketing, SEO (Search Engine Optimization) and PPC (Pay per Click) Paid Campaigns. You can read about each in depth <a href="/digitalmarketing">here</a>.
                                                    We do everything that is possible to increase traffic and revenue by implementing proper Marketing Strategy after researching your 
                                                    competitors and target audience.</p>
                                        </div>
                                        <div class="col-12 col-lg-3 order-1 order-lg-2 mt-5 mt-lg-0">
                                                <img class="icons mx-auto d-block" src="/megaphone.png" alt="">
                                        </div>
                                </div>
                                <div class="row mt-0 border-top-0 pl-5 textcol py-5">
                                        <div class="col-12">
                                                <p class="px-5 text-center">For example, this Whole Section “Our Process” was added because our Digital Marketing Expert wanted 
                                                        specific keywords on our Home Page and who knows maybe this is the reason we got you here! One more thing, we forgot to add a very 
                                                        important keyword so here goes: Cosaia is a Web Design and Web Development Company in India. <br><br>
                                                        Cheers! </p>
                                        </div>
                                </div>           
                        </div>

                        <div class="container">
                                <div class="row mt-0">
                                    <div class="col-6 border-top-0 px-5 py-4 brandcol">
                                    <p class="mx-5 mt-4">It starts with emotion.<br> It ends with 👀 eye-grabbing design, 💗 heartfelt stories, and mindful 😵 experiences.</p>
                                    </div>
                                    <div class="col-6 border-top-0 border-left-0 px-4 py-4 emojicol">
                                            <p class="mx-5 mt-3">Our team consists of insane developers, truly gifted designers and visionary digital marketing experts. 🔥 and <span id="savage">savage</span> are just some of our recent customer testimonials. 
                                                </p>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="container">
                            <div class="row testirow justify-content-end">
                                <div class="col-12 col-lg-7 border-bottom-0 pl-0 ml-0 aboutcol">
                                    <div class="pl-0" id="testimonial">TESTIMONIALS</div>
                                </div>
                            </div>
                        </div> -->
                
                        <div class="container">
                                <div class="row mt-0">
                                        <div class="col-12 testicol border-top-0">
                                        <div class="row justify-content-center text-center">
                                                <div class="col-12 col-lg-8 m-auto">
                                                  <h2 id="testimonial">TESTIMONIALS</h2>
                                                  <div id="aftertest" class="mx-auto mt-3"></div>
                                                  <div id="myCarousel" class="carousel slide carousel2 mt-0 mb-5" data-ride="carousel">
                                                    <!-- Carousel indicators -->
                                                    <ol class="carousel-indicators">
                                                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                      <li data-target="#myCarousel" data-slide-to="1"></li>
                                                      <li data-target="#myCarousel" data-slide-to="2"></li>
                                                    </ol>   
                                                    <!-- Wrapper for carousel items -->
                                                    <div class="carousel-inner inner2">
                                                      <div class="item carousel-item active">
                                                        
                                                        <p class="testimonial"><em> "We knew that good design and branding is a very important part of any business. Cosaia helped us turn our vision into reality."</em></p>
                                                        <p class="overview"><em><b>Kenan Patel</b>, Cofounder, The Poutinerie</em></p>
                                                      </div>
                                                      <div class="item carousel-item">
                                                        
                                                        <p class="testimonial"><em> "Cosaia team was quick to understand my requirements and had a short turnaround time with an impeccable professional design solution."</em></p>
                                                        <p class="overview"><em><b>Adhish Patel</b>, Senior Partner, Patel & Jesalpura</em></p>
                                                      </div>
                                                      <div class="item carousel-item">
                                                        
                                                        <p class="testimonial"><em> "Approached Cosaia to build my company a new website and the concept they created for our corporate identity  was very unique. Good communication throughout the process and the delivery was consistent with what we had agreed."</em></p>
                                                        <p class="overview"><em><b>Romit Shah</b>, Director, Meera Dyestuff</em></p>
                                                      </div>
                                                    </div>
                                                    <a class="carousel-control-prev d-lg-none" href="#myCarousel" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                          </a>
                                                          <a class="carousel-control-next d-lg-none" href="#myCarousel" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                          </a>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row clientrow justify-content-center d-none d-lg-flex">
                                                  <div class="col-1">
                                                    <img class="w-100" src="/images/ch1.png" alt="">
                                                  </div>
                                            <div class="col-1">
                                                <img class="w-100" src="/images/kdlogo.png" alt="">
                                              </div>
                                              <div class="col-1">
                                                    <img class="w-100" src="/images/lamon.png" alt="">
                                                  </div>                                                      
                                            <div class="col-1">
                                                <img class="w-100" src="/images/meera.png" alt="">
                                                    </div>
                                                  <div class="col-1">
                                                        <img class="w-100" src="/images/nh8-1.png" alt="">
                                                      </div>
                                                    <div class="col-1">
                                                        <img class="w-100" src="/images/poutinerie.png" alt="">
                                                      </div>
                                                      <div class="col-1">
                                                            <img class="w-100" src="/images/tfs.png" alt="">
                                                      </div>
                                                      <div class="col-1 px-0">
                                                            <img class="w-100" src="/images/pj.jpeg" alt="">
                                                      </div>
                                                      <div class="col-1 px-0">
                                                            <img class="w-50 d-block mx-auto" src="/images/cs4.png" alt="">
                                                      </div>
                                                      <div class="col-1">
                                                            <img class="w-100 d-block mx-auto" src="/images/aaa.png" alt="">
                                                      </div>
                                                      <div class="col-1 px-0">
                                                            <img class="w-100" src="/images/ablogo2.png" alt="">
                                                      </div>
                                              </div>
                                              <div class="row clientrow justify-content-center d-lg-none">
                                                    <div class="col-2 px-0">
                                                      <img class="w-100" src="/images/pj.jpeg" alt="">
                                                    </div>
                                              <div class="col-2">
                                                  <img class="w-50 d-block mx-auto" src="/images/cs4.png" alt="">
                                                </div>
                                                <div class="col-2">
                                                      <img class="w-100" src="/images/lamon.png" alt="">
                                                    </div>                                                      
                                              <div class="col-2">
                                                  <img class="w-100" src="/images/meera.png" alt="">
                                                      </div>
                                                    <div class="col-2">
                                                          <img class="w-100" src="/images/nh8-1.png" alt="">
                                                        </div>
                                                      <div class="col-2">
                                                          <img class="w-100" src="/images/poutinerie.png" alt="">
                                                        </div>
                                                    </div>
                                                <!-- LOGO SLIDER -->
                                                <!-- <div id="clients" class="d-lg-none">
                                                        <div class="clients-wrap">
                                                          <ul id="clients-list" class="clearfix">
                                                            <li><img class="px-2" src="/images/ch1.png" ></li>
                                                            <li><img class="px-2" src="/images/kdlogo.png" ></li>
                                                            <li><img class="px-2" src="/images/lamon.png" ></li>
                                                            <li><img class="px-2" src="/images/meera.png" ></li>
                                                            <li><img class="px-2" src="/images/nh8-1.png" ></li>
                                                            <li><img class="px-2" src="/images/poutinerie.png" ></li>
                                                            <li><img class="px-2" src="/images/tfs.png" ></li>
                                                            <li><img class="px-2" src="/images/pj.jpeg" ></li>
                                                            <li><img class="px-2" src="/images/cs4.png" ></li>
                                                            <li><img class="px-2" src="/images/aaa.png" ></li>
                                                            <li><img class="px-2" src="/images/ablogo2.png" ></li>
                                                          </ul> -->
                                                        <!-- </div>@end .clients-wrap -->
                                                    <!-- </div>@end #clients -->
                                        </div>
                                    </div>
                                </div>


                            <div class="container">
                                    <div class="row mt-0 mb-0 blogrow">
                                        <div class="col-5 px-0">
                                            <div class="ml-0 blogdiv">
                                               <span id="blog">BLOGS</span>
                                            </div>
                                            <div class="article d-none d-lg-block">
                                                    <img class="border-right-0 border-bottom-0" src="/seo.jpg" alt="Card image cap">
                                                 <p class="mt-0 px-2 py-2 border-right-0">
                                                    <span id="title">Invest in SEO, Excel</span><br>If you are starting a new business or you already are running a business and you are looking for ways to get your business 
                                                            to new heights of success then you have to invest in SEO.</p>
                                                    <div class="overlay2">
                                                        <a href="/thirdblog" class="py-2 px-3">
                                                        View Article <i class="far fa-eye eye2"></i></a>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-1 px-0 d-none d-lg-block">
                                            <p class="border-top-0 px-2 mb-0 datep"> 
                                                <strong>25</strong> <br><span>JANUARY</span></p>
                                        <p class="border-top-0 px-2 mt-0 mb-0 empty"></p>
                                        </div>
                                        <div class="col-1 px-0 d-none d-lg-block">
                                                <p class="border-top-0 border-left-0 px-2 mb-0 datep2"> 
                                                    <strong>20</strong> <br><span>JANUARY</span></p>
                                                    <p class="border-top-0 border-left-0 px-2 mt-0 mb-0 empty2"></p>
                                                </div>
                                        <div class="col-5 px-0 pt-5 article2col d-none d-lg-block">
                                            <div class="article2">           
                                            <img class="border-bottom-0 border-left-0" src="outsource.jpg" alt="Card image cap">
                                                     <p class="mt-0 px-2 py-2 border-left-0">
                                                        <span id="title">Outsource your business, GROW.</span> <br>The global outsourcing market has been growing every day and includes 
                                                        businesses of different sizes, such as marketing, IT, accounts, HR, etc.</p>
                                                        <div class="overlay3">
                                                                <a href="/firstblog" class="py-2 px-3">
                                                                View Article <i class="far fa-eye eye2"></i></a>
                                                            </div>
                                                        </div> 
                                            </div>
                                    </div>
                                    <!-- ENTER CODE HERE MOBILE VIEW-->
                                    <div class="row d-lg-none">
                                    <div class="col px-0 article">
                                        <img id="testimage" src="/seo.jpg" alt="Card image cap">
                                     <p class="my-0 px-2 py-2">
                                        <span id="title">Invest in SEO, Excel</span><br>If you are starting a new business or you already are running a business and you are looking for ways to get your business 
                                                to new heights of success then you have to invest in SEO.</p>
                                        <div class="overlay2">
                                            <a href="/thirdblog" class="py-2 px-3">
                                            View Article <i class="far fa-eye eye2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row daterow d-lg-none">
                                <div class="col-4 px-0 border-top-0">
                                    <p class="px-2 mb-0"> 
                                        <strong>25</strong> <br><span>JANUARY</span></p> 
                                </div>
                                <div class="col-8 border-top-0">

                                </div>
                            </div>
                            <div class="row daterow d-lg-none">
                                    <div class="col-8 border-top-0 border-right-0">

                                        </div>
                                <div class="col-4 px-0">
                                        <p class="px-2 mb-0"> 
                                            <strong>20</strong> <br><span>JANUARY</span></p>
                                        </div>
                                    </div>
                            
                                    <div class="row d-lg-none">
                                            <div class="col px-0 article2">           
                                            <img src="/outsource.jpg" alt="Card image cap">
                                                     <p class="my-0 px-2 py-2">
                                                        <span id="title">Outsource your business, GROW.</span> <br>The global outsourcing market has been growing every day and includes 
                                                        businesses of different sizes, such as marketing, IT, accounts, HR, etc.</p>
                                                        <div class="overlay3">
                                                                <a href="/firstblog" class="py-2 px-3">
                                                                View Article <i class="far fa-eye eye2"></i></a>
                                                            </div>
                                                        </div> 
                                            </div>
                                </div>
                    


                        <div class="container">
                        <div class="row morerow">
                            <div class="col-lg-5 col-4">
                                
                            </div>
                            <div class="col-lg-2 col-4 mt-0 border-top-0 colmore">
                                <div class="mx-4 mt-4 loadmore">
                                    <a href="/blogs" target="_blank">Load More</a>
                                    </div>
                            </div>
                        </div>
                    </div>
        
                            
                
            <div class="mx-0 infodiv">
                <div class="container">
                    <div class="row my-5 my-lg-0">
                    <div class="col-lg-4 infocol">
                        <div class="pl-lg-5 ml-lg-5 pt-lg-5 info">Let's<br class="d-none d-lg-block"> Talk</div>
                    </div>
                    <div class="col-lg-8 formcol">
                            <form class="gform" method="POST" action="https://script.google.com/macros/s/AKfycby8iDVxPro4HnM_TJk_UHjYvJ0HURiIyXwDQ4i0Dn8VW1OEyo6C/exec">
                                <!-- <fieldset> -->
                                    <div class="row">
                                    <div class="col-6 mt-lg-5 my-3 mb-lg-0 pt-3">
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="name" placeholder="Name">
                                <br>
                                <br>
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="email" placeholder="Email">
                                <br>
                                <br>
                                <input class="border-top-0 border-left-0 border-right-0" type="text" name="phone" placeholder="Phone">
                                <br>
                                <br>
                                <br>
                                <input id="submit" type="submit" value="Send">
                                    </div>
                                    <div class="col-6 mt-lg-5 my-3 mb-lg-0 pt-3">
                                <label for="message">Your Message</label>
                                <textarea class="d-none d-lg-block" id="message" name="message"
                                  rows="8" cols="33">
                                </textarea>
                                <textarea class="d-lg-none" id="message" name="message"
                                  rows="8" cols="44">
                                </textarea>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <label><input type="checkbox" id="newsletter" name="newsletter" value="true" style="width: 30px; padding-top: 5px;" checked>Yes, I would like to recieve newsletters.</label>
                                </div>
                            <!-- </fieldset> -->
                                
                            <div style="display:none" class="thankyou_message">
                                <!-- You can customize the thankyou message by editing the code below -->
                                <h2><em>Thanks</em> for contacting us! We will get back to you soon!
                                </h2>
                               </div>

                            </form>
                                
                        </div>
                    </div>
                </div>

            </div>


<%- include("partials/footer") %>