<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">We Are Hiring!</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               

            
           
            
           </div>
       </div>
       <!-- <div>
           <h3 class="Mont-semi-bold" style="margin-left: 20px;">We at Cosaia are looking for:</h3>
       </div> -->
       <div id="accordion">
        <div class="jobs-card">
          <div class="card-header" id="headingOne">
            <div class="row"> 
                <div class="col-10">     
                    <h5 class="mb-0 mont-semi-bold">
                    <button class="btn btn-link collapsed jobs-header mobile-jobs-font" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Artsy Graphic Designer <span class="mont mobile-jobs-sm"> (Illustrator,CorelDraw,Photoshop)</span>
                    </button>
                    </h5>
                    
                </div>
                
                <div class="col-2">
                    <h6 class=" mont mobile-jobs-sm">Internship<span><i class="fas fa-chevron-down mont job-category mobile-jobs-sm"></i></span></h6>
                    
                </div>
            </div>  
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h4 class="mont-semi-bold mobile-head">Responsibilities and Duties:</h4>
                <p class="mont mobile-font" >
                  <ul>
                      <li class="mont mobile-font">
                        Meet with clients to determine the scope of a project 
                      </li>
                      <li class="mont mobile-font">
                        Advise clients on strategies to reach a particular audience
                      </li>
                      <li class="mont mobile-font">
                        Determine the message the design should portray 
                      </li>
                      <li class="mont mobile-font">
                        Create images that identify a product or convey a message
                      </li>
                      <li class="mont mobile-font">
                        Develop graphics for product illustrations, logos, and websites
                      </li>
                      <li class="mont mobile-font">
                        Select colours, images, text style, and layout 
                      </li>
                      <li class="mont mobile-font">
                        Present the design to clients.
                      </li>
                      <li class="mont mobile-font">
                        Incorporate changes recommended by the clients into the final design
                      </li>
                      <li class="mont mobile-font">
                        Review designs for errors before publishing them 
                      </li>
                  </ul>  
                </p>
                <h4 class="mont-semi-bold mobile-head">Required Experience and Qualifications:</h4>
                <p class="mont mobile-font">
                    
                    <ul>
                        <li class="mont mobile-font">
                            Adobe Illustrator
                        </li>
                        <li class="mont mobile-font">
                            Adobe Photoshop
                        </li>
                        <li class="mont mobile-font">
                            Adobe InDesign
                        </li>
                    </ul>
                    A personal portfolio is a must. 
                </p>
                <span class="mont-light" style="font-size: small;">Email us your reume on Info@Cosaia.com</span><br><br>
                <button type="button" class="btn jobs-btn">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="jobs-card">
          <div class="card-header" id="headingTwo">
            <div class="row">
                <div class="col-10">  
                    <h5 class="mb-0 mont-semi-bold jobs-header">
                    <button class="btn btn-link collapsed jobs-header mobile-jobs-font" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Brainy BackEnd Developer <span class="mont mobile-jobs-sm"> (NodeJS,PHP,Pyton)</span>
                    </button>
                    </h5>
                </div>
                <div class="col-2">
                    <h6 class=" mont mobile-jobs-sm">Full-Time<span><i class="fas fa-chevron-down mont job-category mobile-jobs-sm"></i></span></h6>  
                </div>
            </div></div>
          </div></div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <h4 class="mont-semi-bold mobile-head">Required Experience and Skills:</h4>
                <p class="mont mobile-font" >
                  <ul>
                      <li class="mont mobile-font">
                        1-3 years of work experience
                      </li>
                      <li class="mont mobile-font">
                        Skills in server-side scripting language like PHP
                      </li>
                      <li class="mont mobile-font">
                        Skills in Python, Java, C, C++ 
                      </li>
                      <li class="mont mobile-font">
                        Understanding of front-end web technologies like JavaScript, HTML and CSS
                      </li>
                      <li class="mont mobile-font">
                        Develop graphics for product illustrations, logos, and websites
                      </li>
                      <li class="mont mobile-font">
                        Understanding of RESTful services and APIs 
                      </li>
                      <li class="mont mobile-font">
                        Understanding of data exchange formats like JSON
                      </li>
                      <li class="mont mobile-font">
                        Experience with version control such as Git
                      </li>
                      <li class="mont mobile-font">
                        Should be good with deadlines, be able to work independently as well as with the team
                      </li>
                  </ul>  
                </p>
                <span class="mont-light" style="font-size: small;">Email us your reume on Info@Cosaia.com</span><br><br>
                <button type="button" class="btn jobs-btn">Apply Now</button>
          
            </div>
          </div>
        
        <div class="jobs-card">
          <div class="card-header" id="headingThree">
            <div class="row">  
                <div class="col-10">
                    <h5 class="mb-0 mont-semi-bold">
                    <button class="btn btn-link collapsed jobs-header mobile-jobs-font" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Ferocious FrontEnd Developer <span class="mont mobile-jobs-sm"> (HTML5,CSS3,Angular)</span>
                    </button>
                    </h5>
                </div> 
                <div class="col-2">
                    <h6 class=" mont mobile-jobs-sm">Full-Time<span><i class="fas fa-chevron-down mont job-category mobile-jobs-sm"></i></span></h6>  
                </div>   
            </div>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <h4 class="mont-semi-bold mobile-head">Required Experience and Skills:</h4>
                <p class="mont mobile-font" >
                  <ul>
                      <li class="mont mobile-font">
                        1-3 years of work experience
                      </li>
                      <li class="mont mobile-font">
                        Expert knowledge of HTML and CSS
                      </li>
                      <li class="mont mobile-font">
                        Expert knowledge of JavaScript and jQuery
                      </li>
                      <li class="mont mobile-font">
                        Experience with RESTful Services and APIs
                      </li>
                      <li class="mont mobile-font">
                        Solid knowledge and understanding of JavaScript Frameworks like AngularJS and ReactJS
                      </li>
                      <li class="mont mobile-font">
                        Understanding and knowledge of UI/UX 
                      </li>
                      <li class="mont mobile-font">
                        Understanding of data exchange formats like JSON
                      </li>
                      <li class="mont mobile-font">
                        Experience with version control such as Git
                      </li>
                      <li class="mont mobile-font">
                        Should be good with deadlines, be able to work independently as well as with the team
                      </li>
                  </ul>  
                </p>
                <span class="mont-light" style="font-size: small;">Email us your reume on Info@Cosaia.com</span><br><br>
                <button type="button" class="btn jobs-btn">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
   
        

    <%- include("partials/footer") %>  