<%- include("partials/header") %>


   <div class="container service-header" id="service-header">
       <div class="row mt-0">
           <div class="col-12 border-top-0 pl-5">
               <h2 class="cairo-bold">We Are Hiring!</h2>
               <hr id="service-hr" style="margin-top: 1rem !important;
               margin-bottom: 1rem !important;
               border: 0 !important;
               border-top: 2px solid #ee5e54 !important;
               color: #ee5e54 !important;
               width: 78px !important;">
               

            
           
            
           </div>
       </div>

       <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

  
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
        Button with data-target
      </button>
      
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
   
        

    <%- include("partials/footer") %>  