<%- include("partials/header") %>
        
                  <div class="container">
                        <div class="row projrow">
                            <div class="col-5 pt-lg-4 border-bottom-0 pl-0 ml-0 aboutcol">
                                <div class="pl-0" id="about">PROJECTS</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="container">
                            <div class="row mt-0 projrow2">
                                <div class="col-4 col-lg-12 projcol pb-0">
                                        <iframe class="mt-5 portfolio d-none d-lg-block" src="Portfolio.pdf#toolbar=0"></iframe>
                                        <a id="portlink" class="d-lg-none" href="Portfolio.pdf" target="_blank">CLICK to view our Portfolio!</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-2 col-lg-1 backcol py-2">
                                <a id="back" href="/"><i class="fas fa-arrow-left"></i>  <i class="fas fa-home"></i></a>
                            </div>

                        </div>
                    </div>

            
<%- include("partials/footer") %>